<form method='post'>
<h2>Jugador A</h2>
<h2><%= $PuntosA;%></h2>
<input type='submit' value='Punto para A'>

<h2>Jugador B</h2>
<h2><%= $PuntosB;%></h2>
<input type='submit' value='Punto para B'>
</form>

